<div>
  <h2 id="page-heading" data-cy="EmpresaHeading">
    <span jhiTranslate="empresasApp.empresa.home.title">Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="empresasApp.empresa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empresa"
        [routerLink]="['/empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="empresasApp.empresa.home.createLabel"> Create a new Empresa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empresas?.length === 0">
    <span jhiTranslate="empresasApp.empresa.home.notFound">No empresas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empresas && empresas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="empresasApp.empresa.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sobre"><span jhiTranslate="empresasApp.empresa.sobre">Sobre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cnpj"><span jhiTranslate="empresasApp.empresa.cnpj">Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="razaoSocial">
            <span jhiTranslate="empresasApp.empresa.razaoSocial">Razao Social</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataConstituicao">
            <span jhiTranslate="empresasApp.empresa.dataConstituicao">Data Constituicao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logoUrl">
            <span jhiTranslate="empresasApp.empresa.logoUrl">Logo Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkFacebook">
            <span jhiTranslate="empresasApp.empresa.linkFacebook">Link Facebook</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkInstagram">
            <span jhiTranslate="empresasApp.empresa.linkInstagram">Link Instagram</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkLinkedin">
            <span jhiTranslate="empresasApp.empresa.linkLinkedin">Link Linkedin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkTwitter">
            <span jhiTranslate="empresasApp.empresa.linkTwitter">Link Twitter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="site"><span jhiTranslate="empresasApp.empresa.site">Site</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ativo"><span jhiTranslate="empresasApp.empresa.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="criado">
            <span jhiTranslate="empresasApp.empresa.criado">Criado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/empresa', empresa.id, 'view']">{{ empresa.id }}</a>
          </td>
          <td>{{ empresa.nome }}</td>
          <td>{{ empresa.sobre }}</td>
          <td>{{ empresa.cnpj }}</td>
          <td>{{ empresa.razaoSocial }}</td>
          <td>{{ empresa.dataConstituicao | formatMediumDate }}</td>
          <td>{{ empresa.logoUrl }}</td>
          <td>{{ empresa.linkFacebook }}</td>
          <td>{{ empresa.linkInstagram }}</td>
          <td>{{ empresa.linkLinkedin }}</td>
          <td>{{ empresa.linkTwitter }}</td>
          <td>{{ empresa.site }}</td>
          <td>{{ empresa.ativo }}</td>
          <td>{{ empresa.criado | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/empresa', empresa.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/empresa', empresa.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empresas && empresas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
